*{
    background-color: aqua;
    margin: 30px;

}

h2{
    color: orange;
    outline: 2px solid red;
    background-color: white;
    text-decoration: underline ;
    text-decoration-color: lightgreen;
}

.a{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.hh {
    font-weight: bold;
    color: brown
}