* {
    font-family: "Arial", Helvetica, sans-serif;
}
body {
    background-color: #e2e2e2;
}



/* for header */
#header {
    background-image: url("images/header-bg.jpg");
    height: 4rem;
    transition: .5s;
    border-bottom: 3px solid #fbc66a;
}
.header-li {
    background-color: #4d6274;
}
.header-li:hover {
    transform: scale(1.03);
}

#login-time a{
    font-size: .65rem;
}

#user-dropdown .dropdown-menu .dropdown-item:hover {
    background-color: rgba(77, 98, 116, .6);
}



/* for sidebar */
#side-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}
#side-nav-button:hover {
    background-color: #324a5f;
}

#sidebar {
    position: fixed;
    width: 0;
    height: 100%;
    background-color: #1b364d;
    box-shadow: rgba(0, 0, 0, 0.5);
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

#brand-logo-div {
    width: 280px;
    border-bottom: 1px solid rgb(99, 79, 79);
}
#brand-logo-div img {
    width: 80%;
}

.sidebar-nav-list {
    list-style-type: none;
    margin: auto 10px;
    padding-left: 0;
}

.sb-nav-list-item {
    display: flex;
    align-items: center;
    height: 45px;
    padding-left: 10px;
    font-size: 1em;
}
.sb-nav-list-item:hover {
    background-color: #324a5f;
    border-left: 5px solid #fbc66a;
    cursor: pointer;
}
.sb-nav-list-item a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 12px;
    color: white;
}

.dropdown-menu {
    background-color: #1b364d;
}
.dropdown-item:hover {
    background-color: #324a5f;
}



/* for main section */
main {
    margin: 1em;
    width: auto;
    padding: 20px;
    background-color: white;
    transition: margin-left .5s;
}