 .back{
    background-image: url('header.jpeg');
    
    color: #f0eeeef4;
   
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: rgb(2, 26, 61);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f3eeee;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    background-color: grey;
    border-left: 5px solid goldenrod;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .back {
    transition: margin-left 0.5s;
    width: auto;
  }

  .a {
    font-size: 10px;
  }

  .header{
    position: relative;
    text-align: left;
  }

  .GICC{
    background-color: rgb(231, 240, 247);
    width: 100%;
    padding-left: 5px;
    display: inline-block;
  }

  .issue{
    color: blue;
    font-weight: bold;
    font-size: 25px;
  }

  .transaction, .form-check{
    display: inline-block
  }

  .transaction{
    background-color: rgb(244, 240, 240);
    width: 100%;
    padding: 5px;
  }
  
  .note{
    text-align: center;
  }

  .backg{
    background-color: rgb(237, 239, 239);
  width:fit-content;
  }

  .abcd{
    background-color: white;
    width: fit-content;
  }

