.header
{
width: 100%;
height: 200px;
color: black;
text-align: center;
background-color: rgb(249, 255, 255);
font-size: large;
font-family: Arial;

}
.info
{
width: 100%;
height: 100px;
color: black;
background-color: rgb(249, 255, 255);
font-size: medium;
font-family: Arial, Helvetica, sans-serif;

}

.divs
{
    width: 100%;
    height: 1000px;
    color: black;
    background-color: rgb(249, 255, 255);
    font-size: medium;
    font-family: Helvetica;
    padding-left: 10px;
    margin: 3px;

}

hr
{
border:solid;

}


.git
{

    
}

h3
{color: rgb(175, 145, 45);

}

.div1
{
    background-color: rgb(249, 255, 255);
    font-family: Helvetica;
    padding-left: 10px;
    margin: 3px;
    width: 100%;
    height:100px;
}


.dis {
    background-color: yellow; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0

}

.dis li ,h3 {

    display: inline-block;
  font-size: 20px;
  padding: 20px;
  width: 35%;
  height: 100px;
}

.dis :hover
{

    
}