/* @import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"); */
p {
  display: inline;
  margin: 5px;
}

#time {
  font-size: 260px;
  color: #004aad;
}

#day {
  font-size: 40px;
  color: #ff5757;
}

#date {
  font-size: 20px;
  color: #ff5757;
}
div {
  font-family: "Fredoka One", cursive;
}
