#header-bg {
    background-image: url("header-bg.jpg");
    height: 4.5rem;
    transition: .5s;
}


.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-li {
    background-color: #4d6274;
    border-radius: 4px;
}

.header-li a {
    color: white;
}

.header-li:hover {
    transform: scale(1.03);
}


#login-time a{
    font-size: .65em;
    text-align: end;
    color: white;
}



#side-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}


#side-nav-button:hover {
    background-color: #324a5f;
    border-radius: 20%;
}


#user-dropdown .dropdown-menu .dropdown-item:hover {
    background-color: rgba(77, 98, 116, .4);

}

#header-bg a:link {
    color: white;
}

body {
    background-color: #e2e2e2;
}

#main-section {
    margin: 1em;
    width: auto;
    background-color: white;
    border-radius: .8em;
    transition: margin-left .5s;
}

#heading {
    background-color: #eef6ff;
    border-radius: .8em .8em 0 0;
}

#heading h5 {
    font-size: 1em;
    color: #005baf;
    margin: auto;
    padding: 1em 0;
}


#text-box {
    background-color: #fcf8e3;
    padding: 1em;
    border-radius: .6em;
}

#text-box li {
    text-align: justify;
}



form .row {
    margin: 1em 0;
}

#radio-row {
    background-color: #f8f8fa;
    padding: 0.5em;
    border-radius: 0.5em;
}

#bank-details-row > div {
    background-color: #f8f8fa;
    padding: 0.5em 0em ;
    border-radius: 0.5em;
}

.form-control:focus {
    box-shadow: none;
}

input[type="radio"], input[type="file"]:hover, .form-check-label:hover, .form-control:hover {
    cursor: pointer;
}

.form-row > label, .form-group > label {
    font-weight: 500;
}

.error-msg {
    color: red;
    margin: 0;
    margin-top: 5px;    
    padding: 0;
    font-size: .8em;
}

.required:after {
    content: "*";
    color: red;
}

.w20 {
    width: 20px;
}
#sidebar {
    position: fixed;
    width: 0;
    height: 100%;
    background-color: #1b364d;
    box-shadow: rgba(0, 0, 0, 0.5);
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

#brand-logo-div {
    width: 260px;
    border-bottom: 1px solid rgb(99, 79, 79);
}

#brand-logo-div img {
    width: 100%;
}


.sidebar-nav-list {
    list-style-type: none;
    margin: auto 10px;
    padding-left: 0;
}

.sb-nav-list-item {
    display: flex;
    align-items: center;
    height: 45px;
    padding-left: 10px;
    font-size: 1em;
}

.sb-nav-list-item:hover {
    background-color: #324a5f;
    border-left: 5px solid #fbc66a;
    cursor: pointer;
}

.sb-nav-list-item a {
    text-decoration: none;
    color: white;
}

.dropdown-menu {
    background-color: #1b364d;
}

.dropdown-item:hover {
    background-color: #324a5f;
}